# 자료형

## 리스트 자료형

### 리스트의 인덱싱과 슬라이싱

In [2]:
odd = [1,3,5,7,9]

In [1]:
a=[]
b=[1,2,3]
c=['Life', 'is', 'too', 'short']
d=[1,2, 'Life', 'is']
e=[1, 2, ['Life', 'is']]
print(e[2])
print(e[2][0])
print(e[2][1])

['Life', 'is']
Life
is

In [3]:
#리스트의 인덱싱과 연산
print(b[1] + b[2])
print(c[0] + c[3])
print(c[0] * b[2])

5
Lifeshort
LifeLifeLife

In [10]:
c[-1]

'short'

In [14]:
#리스트의 슬라이싱
a= [11,22,33,44,55]
print(a[:])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::2])
print(a[::-1])

[11, 22, 33, 44, 55]
[33, 44, 55]
[11, 22]
[44, 55]
[11, 33, 55]
[55, 44, 33, 22, 11]

### 리스트 연산, 수정, 삭제하기

In [17]:
a = [11,22,33]
b = [44,55,66]
# 리스트 더하기
print(a+b)
#리스트 반복하기
c = a*3
print(c)
len(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

9

In [4]:
#리스트 값 수정하기 
a = [11,22,33]
a[2] = 44
print(a)
# a[3] = 55 # 없는 요소를 수정하는 것은 에러
# print(a)
# a[1] = '' #빈칸 수정 삽입
# a[1] = 0 #0으로 수정 삽입
# 리스트 값 삭제하기
del a[1]
print(a)

[11, 22, 44]
[11, 44]

In [22]:
# 리스트 값 슬라이싱으로 삭제
print(c)
del c[:4]
print(c)

[22, 33, 11, 22, 33]
[33]

### 리스트 관련 함수

In [ ]:
dir(list)

In [24]:
#리스트 요소 비우기 (초기화)
c. clear()
print(c)

[]

In [30]:
a=[] #clear랑 같음. 비우라는 것. 리스트 초기화

In [50]:
# 리스트에 요소 추가하기 -append
a.append(4)
print(a)
a.append([11,22])
print(a)

[11, 22, 33, 44, 55, 4]
[11, 22, 33, 44, 55, 4, [11, 22]]

In [43]:
b=[]
num = 0

In [48]:
num += 1
b. append(num)
print(b)

[2, 3, 4, 5]

In [49]:
#리스트 정렬 - sort
a = [11,44,33,22,55]
a. sort()
print(a)

[11, 22, 33, 44, 55]

In [51]:
#리스트 정렬(내림차순) - sort
a = [11,44,33,22,55]
a. sort(reverse=True)
print(a)

[55, 44, 33, 22, 11]

In [5]:
#리스트정렬 원본 유지하기
aa= [66,77,88,99,0]
bb = sorted(aa)
cc = sorted (aa,reverse=True)
print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [52]:
#리스트 뒤집기 - reverse
a = [11,44,33,22,55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [59]:
# sorted 응용
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
result = sorted(fruit, key=len)
result2 = sorted(fruit, key=len, reverse=True)
print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
['kiwi', 'pear', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']
['kiwi', 'pear', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']

In [79]:
print('과일을 먹어볼까?')
for r in result:
    if r != 'banana':
     print(r + ' 못먹겠어! 웩!')
    if r != 'banana':
     print(r + ' 냠냠 맛있다')
print('와~다먹었다')

과일을 먹어볼까?
kiwi 못먹겠어! 웩!
kiwi 냠냠 맛있다
pear 못먹겠어! 웩!
pear 냠냠 맛있다
melon 못먹겠어! 웩!
melon 냠냠 맛있다
apple 못먹겠어! 웩!
apple 냠냠 맛있다
orange 못먹겠어! 웩!
orange 냠냠 맛있다
blueberry 못먹겠어! 웩!
blueberry 냠냠 맛있다
strawberry 못먹겠어! 웩!
strawberry 냠냠 맛있다
와~다먹었다

In [83]:
#인덱스 변환 -index
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
fruit.index('melon')

3

In [87]:
#인덱스 응용
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
inp=input('먹고 싶은 과일을 입력하세요')
fruit.index(inp)
print(inp + '를 좋아하시는 군요!!!')

먹고 싶은 과일을 입력하세요 banana

banana를 좋아하시는 군요!!!

In [89]:
#인덱스 응용
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
want=input('먹고 싶은 과일을 입력하세요')
where = fruit.index(want)
print(f'{want}를 좋아하시는 군요!!! 그것은 {where+1}번 째에 있습니다.')

먹고 싶은 과일을 입력하세요 banana

banana를 좋아하시는 군요!!! 그것은 1번 째에 있습니다.

In [92]:
#리스트에 요소 삽입 - insert
num = [11,22,33,55,66,77,88]
print(num)
num.insert(3,44) #3은 인덱스 위치, 44는 원하는 값
print(num)

[11, 22, 33, 44, 55, 66, 77, 88]

In [6]:
ex = []

In [7]:
ex.insert(0,'맨앞')
print(ex)
ex.insert(-1, '-1인덱스')
print(ex)
ex.insert(0,'맨앞')
print(ex)
ex.insert(len(ex),'제일끝')
print(ex)

['맨앞']
['-1인덱스', '맨앞']
['맨앞', '-1인덱스', '맨앞']
['맨앞', '-1인덱스', '맨앞', '제일끝']

In [5]:
#리스트 요소제거 -remove
a= [1,2,3,1,2,3]
a.remove(3)
print(a)

[1, 2, 1, 2, 3]

In [9]:
#리스트 요소 끄집어 내기 -pop
a=[1,2,3]

In [12]:
hand = a.pop() #리턴값을 받음.
print(a)
print("받은거", hand)

[]
받은거 1

In [15]:
#리스트에 포함된 요소 x의 개수 세기 - cocunt
st = "안녕하세요 반가워요"
print(st.count("요"))
a=[1,1,2,3,1,1,1,1,1,2,3,4,24,34,5,1,1]
print(a.count(1))

2
9

In [16]:
#리스트 확장
a= [1,2,3]
a.extend([4,5])
print(a)
b = [11,22,33]
c = [44,55,66]
print(b+c)

[1, 2, 3, 4, 5]

In [137]:
#장바구니
bag = []

In [140]:
#Create 생성
inp = input('필요한 항목을 넣어주세요.')
bag.append(inp)
print(f'장바구니에는 {bag}들이 있습니다.')

필요한 항목을 넣어주세요. 맥주

장바구니에는 ['호박', '감자', '맥주']들이 있습니다.

In [141]:
# FIFD 출력 (큐 출력)
hand = bag.pop(0)
print(f'{hand}꺼내서 장바구니에 {bag}이(가) 남았습니다.')

호박꺼내서 장바구니에 ['감자', '맥주']이(가) 남았습니다.

In [8]:
# 선택 출력
bag = ['호박', '감자', '소주', '맥주', '피자']
print(f"바구니에 {bag} 물품이 있습니다.")
bring = input('꺼내고 싶은 물품을 입력하세요.')
hand2 = bag.pop(bag.index(bring))
print(f" 바구니에서 {hand2} 꺼내어 {bag}이 남았습니다.")

바구니에 ['호박', '감자', '소주', '맥주', '피자'] 물품이 있습니다.

꺼내고 싶은 물품을 입력하세요. 소주

 바구니에서 소주 꺼내어 ['호박', '감자', '맥주', '피자']이 남았습니다.

In [8]:
#테스트
a=[11,22,33,44,55,66]
a.remove(22)
print('33을 제거 하였습니다.')

33을 제거 하였습니다.

In [9]:
#테스트 remove는 리턴값이 없다.
choice = 33
a=[11,22,33,44,55,66]
a.remove(choice)
print(f'{choice}을(를) 제거 하였습니다.')

33을(를) 제거 하였습니다.

In [13]:
#실습
bag= ['호박', '감자', '소주', '맥주', '피자']
#물품 하나를 추가하기. 단, 지정한 물품 바로 뒤에 추가하기
test1= input('추가할 물건 이름을 적어주세요.')
test2 = input('어느 물품의 오른쪽에 넣어둘까요?')

추가할 물건 이름을 적어주세요.
어느 물품의 오른쪽에 넣어둘까요?

In [27]:
bag= ['호박', '감자', '소주', '맥주', '피자']
thing= input('추가할 물건 이름을 적어주세요.')
where = input('어느 물품의 오른쪽에 넣어둘까요?')
위치 = bag.index(where)+1
bag.insert(위치,thing)
print(bag)

추가할 물건 이름을 적어주세요. 팝콘
어느 물품의 오른쪽에 넣어둘까요? 0

['팝콘', '호박', '감자', '소주', '맥주', '피자']

In [28]:
#테스트
num = input('내가 누구게? 숫자를 입력하세요.')
print(num, type(num))

내가 누구게? 숫자를 입력하세요. 3

3 <class 'str'>

In [128]:
#테스트
num = int(input('내가 누구게? 숫자를 입력하세요.'))
print(num+4, type(num))

내가 누구게? 숫자를 입력하세요. 3

7 <class 'int'>

In [143]:
import requests
import json
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=gLg5vHEiBMiSICVFgYkEcNh11crLDCzU&data=AP01'
res = requests.get(url).text
data = json.loads(res)
print(type(data))
result = data[-1]['deal_bas_r']
print(result,type(result))
result2 = result.replace(",",""). replace(".","")
print(result2,type(result2))
exc=int(result2)/10
#스트링을 숫자로 바꾸어라 단, 쉼표는 전처리하여 사용 가능하게 하라.

<class 'list'>
1,460.8 <class 'str'>
14608 <class 'str'>

In [131]:
#환율 계산기 만들기
exc=1450
dollar = int(input("원화로 계산할 달러를 입력하세요."))
won = dollar * exc
print(f"1달러는{exc:,}원 이므로\n요청하신 {dollar}달러 변환값은 {won:,}원 입니다.")

원화로 계산할 달러를 입력하세요. 3

1달러는1,450원 이므로
요청하신 3달러 변환값은 4,350원 입니다.

In [1]:
from IPython. display import clear_output
#test

inp1 = input('질문1')
clear_output(wait=True)
inp2 = input('질문2')
clear_output(wait=True)
inp3 = input('질문3')
print(inp1)
print(inp2)
print(inp3)

질문3 ㅅㅅㅅㅅ

ㅋㅋㅋㅋ
ㅎㅎㅎ
ㅅㅅㅅㅅ

In [80]:
0.1+0.2

0.30000000000000004

In [5]:
#test
# from decimal import Decimal #더 정밀한 계산
# result = Decimal(rr)*2
rr = 1449.4*2
print(round(rr,1))

2898.8

## 튜플 자료형

In [144]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a', 'b', ('ab','cd'))

In [16]:
#튜플의 요소값을 삭제하려 할 때
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [134]:
#튜플의 요소값을 변경하려 할 때
t1 = (1, 2, 'a', 'b')
t1[0]= 'c'

TypeError: 'tuple' object does not support item assignment

In [135]:
dir(tuple) #tuple()

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [90]:
#인덱싱하기
t1 = (1,2,'a','b')
print(t1[0],t1[3])

1 b

In [91]:
#슬라이싱
t1=(1,2,'a','b')
print(t1[1:])

(2, 'a', 'b')

In [17]:
#튜플 더하기
t1 = (1,2,'a', 'b')
t2 =(3,4)
t3 = t1 + t2
print(t3)

(1, 2, 'a', 'b', 3, 4)

In [93]:
#튜플 곱하기
t2=3,4
t3=t2*3
print(t3)

(3, 4, 3, 4, 3, 4)

In [94]:
#튜플 길이 구하기
len(t3)

6

## 딕셔너리 자료형

In [95]:
dic = {'name': 'pey', 'phone':'010-999-1234','birth': '1118'}

In [96]:
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-999-1234
1118

In [19]:
al=[11,22,33,44,55]
at = 11,22,33,44,55
ad={0:11,1:22,2:33,3:44,4:55}
print(al[0])
print(at[0])
print(ad[0])

11
11
11

In [20]:
#test
for l in al:
    print(l)
print('='*10)
for t in at:
    print(t)

11
22
33
44
55
==========
11
22
33
44
55

In [107]:
a = {'aa':[1,2,3,4,5]}
print(a['aa'])

[1, 2, 3, 4, 5]

In [108]:
dic2 = {'aa':{'name':'pen','phone':'010-9999-1234','birth':'1118'}}
dic2['aa']['phone']

'010-9999-1234'

### 딕셔너리 쌍 추가, 삭제하기

In [119]:
dic = {'name': 'pey', 'phone':'010-999-1234','birth': '1118'}
dic['address']='busan'
print(dic)

{'name': 'pey', 'phone': '010-999-1234', 'birth': '1118', 'address': 'busan'}

In [120]:
dic['array']=[1,2,3.4,5]
print(dic)

{'name': 'pey', 'phone': '010-999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3.4, 5]}

In [122]:
print(dic)
del dic['birth']
print(dic)

{'name': 'pey', 'phone': '010-999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3.4, 5]}
{'name': 'pey', 'phone': '010-999-1234', 'address': 'busan', 'array': [1, 2, 3.4, 5]}

In [154]:
# 딕셔너리 만들 때 주의사항
a={1:'a', 1:'b'}
print(a)

{1: 'b'}

### 딕셔너리 관련함수

In [159]:
a= {'name': 'pey', 'phone': '010-999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3.4, 5]}
#key 리스트 만들기 -keys
print(a.keys())
#value 리스트 만들기 -values
print(a.values())
#key,value 쌍 얻기 -items
print(a.items())
print(a)
#key:value 쌍 모두 지우기 -clear
print(a)
a.clear()
print(a)

dict_keys(['name', 'phone', 'birth', 'address', 'array'])
dict_values(['pey', '010-999-1234', '1118', 'busan', [1, 2, 3.4, 5]])
dict_items([('name', 'pey'), ('phone', '010-999-1234'), ('birth', '1118'), ('address', 'busan'), ('array', [1, 2, 3.4, 5])])
{'name': 'pey', 'phone': '010-999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3.4, 5]}
{'name': 'pey', 'phone': '010-999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3.4, 5]}
{}

In [157]:
for k in a. keys():
    print(k)

name
phone
birth
address
array

In [9]:
a= {'name': 'pey', 'phone': '010-999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3.4, 5]}
print(a.get('name'))
print(a.get('super'))
print(a['phone'])
print(a['money'])

pey
None
010-999-1234

KeyError: 'money'

In [162]:
a= {'name': 'pey', 'phone': '010-999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3.4, 5]}
print('name'in a)

True

In [168]:
al=[11,22,33,44,55]
at = 11,22,33,44,55
ad={0:11,1:22,2:33,3:44,4:55}

print(22 in al) #리스트
print(99 in at) #튜플
print(1 in ad) #딕셔너리의 키

True
False
True

In [18]:
#실습 random 모듈
import random

num = random.random()
print(f' 0과 1 사이의 랜덤 소수 {num}')
num2 = random.randint(1,100)
print(f' 1과 100사이의 랜덤 실수 {num2}')

 0과 1 사이의 랜덤 소수 0.27951680232040976
 1과 100사이의 랜덤 실수 89

In [28]:
#실습 random 모듈
import random
menu = ["구내식당", "후문 편의점","자가도시락", "굶기","과자","다이어트식사"]

num1 = random.random()
print(f' 0과 1사이의 랜덤 소수 {num1}')
num2 = random.random()
print(f' 1과 100사이의 랜덤 실수 {num2}')
lunch = random.choice(menu)
print(f'오늘 선택된 메뉴는 {lunch}!')
deck = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(deck)
print(deck)

 0과 1사이의 랜덤 소수 0.501336577875542
 1과 100사이의 랜덤 실수 0.9456208134934181
오늘 선택된 메뉴는 후문 편의점!
[1, 5, 8, 9, 4, 2, 10, 7, 3, 6]

## 집합 자료형

In [33]:
#중복을 허용하지 않는다.
#순서가 없다.
s1 = set([1,2,3])
print(s1,type(s1))
s2 = set("Hello")
print(s2,type(s2))

{1, 2, 3} <class 'set'>
{'H', 'l', 'e', 'o'} <class 'set'>

In [36]:
#집합 자료형의 특징
s1 = set([11,22,33,11,22])
l1=list(s1)
print(l1,type(l1))
t1 = tuple(s1)
print(t1,type(t1))

[33, 11, 22] <class 'list'>
(33, 11, 22) <class 'tuple'>

### 교집합,합집합, 차집합 구하기

In [38]:
#교집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [41]:
#합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
#차집합
print(s1-s2)
print(s2-s1)

### 집합 자료형 관련 함수

In [42]:
#값 1개 추가하기 -add
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [43]:
#값 여러개 추가히기 - update
s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [44]:
#특정 값 제거하기 -remove
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

## 불자료형

In [45]:
#True: 참을 뜻한다. (1)
#False: 거짓을 뜻한다. (0)

In [46]:
print(type(True))
print(type(False))

<class 'type'>
<class 'type'>

In [21]:
print(3>10)
print(3==10)
print(3==3)

False
False
True

In [22]:
#참과 거짓
print(bool("python"))
print(bool(""))
print(bool([1, 2, 3]))
print(bool([]))
print(bool((1, 2, 3)))
print(bool(()))
print(bool({'a': 1}))
print(bool({}))
print(bool(1))
print(bool(-1))
print(bool(0))
print(bool(None))

True
False
True
False
True
False
True
False
True
True
False
False

In [56]:
#random으로 스토리 생성기 만들기

#등장인물 리스트
characters = ["용감한 기사", '모험심 넘치는 고양이', "호기심 많은 로봇", "서투른 마법사","명석한 탐정","신나는 선생님"]
places = ["어두운 숲에서", "먼 우주 행성에서","마법의 성에서", "바닷속 도시에서", "귀신이 나오는 흉가에서", "재밌는 교실에서"]
events= ["숨겨진 보물을 발견했다.", "무시무시한 용과 싸웠다.", "비밀 통로를 발견했다.", "고대의 미스터리를 풀었다.", "왕국을 위험해서 구하였다.","꾸안꾸로 다녔다."]

ch = random.choice(characters)
pl = random.choice(places)
ev = random.choice(events)
ch2 = random.choice(characters)
pl2 = random.choice(places)
ev2 = random.choice(events)

print(f" 어느 날, {ch}는 {pl} 모험을 떠나 {ev} 그리고 {ch}는 {pl2}에서 {ev2}")

 어느 날, 호기심 많은 로봇는 마법의 성에서 모험을 떠나 숨겨진 보물을 발견했다. 그리고 호기심 많은 로봇는 마법의 성에서에서 무시무시한 용과 싸웠다.

# 자료형의 값을 저장하는 공간, 변수

## 리스트의 옅은복사 깊은 복사

In [8]:
a = [1,2,3]
b = a
print(a,id(a))
print(b,id(b))
b[1] = 7
print(a,id(a))
print(b,id(b))

[1, 2, 3] 2068288137408
[1, 2, 3] 2068288137408
[1, 7, 3] 2068288137408
[1, 7, 3] 2068288137408

In [2]:
a is b

True

In [12]:
from copy import copy
c = [11,22,33]
# d =copy(c) #방식1
d=c[:] #방식2
# d= c.copy() #방식3
print(c,id(c))
print(d,id(d))
d[1] = 77
print(c,id(c))
print(d,id(d))

[11, 22, 33] 1943611976128
[11, 22, 33] 1943611976192
[11, 22, 33] 1943611976128
[11, 77, 33] 1943611976192

In [6]:
c is d

False

## 변수를 만드는 여러가지 방법

In [13]:
a , b='파이썬','짱짱'
[c,d]=['배고파','밥줘']
print(a,b)
print(c,d)
num1 = num2 = num3 = 10
print(num1,num2,num3)

파이썬 짱짱
배고파 밥줘
10 10 10

In [15]:
a = 3
b = 7
print(a,b)
a, b=b,a
print(a,b)

3 7
7 3

In [16]:
a = 33
b = 77
print(a,b)
temp = a
a = b
b = temp
print(a,b)

33 77
77 33